/* Basic background image styling. */
.background-image {
	//background-position: center center;
	background-position: top !important;
	background-repeat: no-repeat;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
	position: absolute;
	min-width: 100%;
	min-height:100%;
	top: 0;
	left: 0;
	//height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('https://lh3.googleusercontent.com/-nPKrCbLqDW8/VclC_cJqdvI/AAAAAAAAANs/FxU28zmFIUQ/s800-Ic42/img0-re.jpg');	
	z-index: 0;
	opacity: 0;
}

.second-image {
	background-image: url('https://lh3.googleusercontent.com/-T1kwpDUDCL8/VdflwiSPcjI/AAAAAAAAAQk/4e1DzrloBUA/s2048-Ic42/nicole-60-blur20.jpg');
	z-index: 0;
	opacity: 0;
}

.third-image {
	background-image: url('https://lh3.googleusercontent.com/-hmfe7xKHsuY/VdfluQuJHYI/AAAAAAAAAQI/h4XzhFrXoEo/s2048-Ic42/group-60-blur30.jpg');
	z-index: 0;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}