/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
	position: absolute;
	min-width: 100%;
	min-height:100%;
	top: 0;
	left: 0;
	height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('https://lh3.googleusercontent.com/-qbKe7J-KhF0/VcKvbBhPNTI/AAAAAAAAAKE/I0e1wMlZeio/s800-Ic42/11133674_10153265979834686_467546949436361610_n.jpg');	
	z-index: 0;
	opacity: 0;
}

.second-image {
	background-image: url('https://lh3.googleusercontent.com/-uhjgGP8EzqY/VbmHsay_AfI/AAAAAAAAADs/BkPNlpni8IA/s400-Ic42/breakfast.jpg');
	z-index: 0;
	opacity: 0;
}

.third-image {
	background-image: url('https://lh3.googleusercontent.com/-aGSqd4Uj2KE/VcKsAyvNkPI/AAAAAAAAAJ4/M1KxC-duUZ8/s800-Ic42/arc-front-blur.jpg');
	z-index: 0;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}